.section {
  padding: 14rem 0;
  background-color: rgba($color-primary-light, 0.4);
  font-size: 2rem;
  position: relative;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
  color: $color-primary-dark;
  &:not(:last-child) {
    margin-bottom: $gutter-vertiical;
  }

  @include clearfix;
  @include col_1_of_4;
  @include col_1_of_2;
}

.pageheading {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 5rem;
  color: $color-primary-light;
  border-bottom: 2px solid $color-primary-light;
  font-family: "Pattaya", sans-serif;
}
