$color-primary-light: white;
$color-primary-dark: rgb(138, 139, 143);
$color-border: rgba(151, 152, 156, 0.2);
$color-secondary: rgb(230, 106, 61);
// $color-secondary: rgb(62, 32, 134);

// $gutter-vertiical:
$gutter-horizontal: 4rem;
$gutter-vertiical: 6rem;
