@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";

.whyussection {
  padding: 4rem 0;
  background-color: rgba($color-primary-light, 0.4);
  font-size: 2rem;
  // &:hover .servicecard:not(:hover) {
  //   transform: scale(0.9);
  // }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $gutter-vertiical;
  }

  @include clearfix;

  [class^="col-"] {
    text-align: center;
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  .col-1-of-3 {
    width: calc((100% - 2 *#{$gutter-horizontal}) / 3);
  }
}
.servicecard {
  position: relative;
  height: 30rem;
  background-color: rgba(#fff, 0.8);
  font-size: 1.5rem;
  //   padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
  transition: transform 0.3s;

  &-active {
    transform: scale(1.2);
    z-index: 20;
  }
  &-inactive {
    &:hover {
      transform: scale(1.1);
      z-index: 19;
    }
  }
  // &__icon {
  //     font-size: 6rem;
  //     margin-bottom: .5rem;
  //     display: inline-block;
  //     background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  //     -webkit-background-clip: text;
  //     color: transparent;
  // }
}
.heading {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-info {
  position: absolute;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  bottom: 2rem;
  right: 2rem;
  transition: all 0.2s;
  span {
    background: #ffffff;
    display: block;
    height: 2px;
    position: absolute;
    transition: all 0.15s 0s ease-out;
    width: 1.2rem;
  }
  &:hover {
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
  }
  &-close {
    background-color: #0096a0;
    .left {
      top: 1.6rem;
      right: 1.25rem;
      transform: rotate(45deg);
    }
    .right {
      top: 1.6rem;
      left: 1.3rem;
      transform: rotate(-45deg);
    }
  }
  &-open {
    background-color: darkorange;
    .left {
      top: 1.4rem;
      right: 0.9rem;
      transform: rotate(45deg);
    }
    .right {
      top: 1.4rem;
      left: 0.9rem;
      transform: rotate(-45deg);
    }
  }
}
