@import "../sass/abstracts/variables";
.section2 {
  padding: 2rem auto;
  margin-top: 2rem;
}
.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;

  img {
    width: auto;
  }

  //   &:not(:last-child) {
  //     margin-bottom: $gutter-vertiical;
  //   }
  // @include clearfix;
  // clear: left;
  overflow: auto;
  [class^="col-"] {
    background-color: orangered;
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
}

// .section2 {
//   align-items: center;
//   background-color: $color-primary-light;
//   h2 {
//     color: $color-primary-dark;
//     margin: 25px 25px;
//     // margin-left: 49%;
//     text-align: center;
//     font-size: 3rem;
//     font-style: italic;
//   }
//   div {
//     position: relative;
//     // background-color: $color-primary-light;
//     // display: inline;
//   }
//   p {
//     position: absolute;
//     font-size: 2rem;
//     text-align: left;
//     line-height: 5rem;
//     margin-left: 2%;
//     display: inline-block;
//   }
//   img {
//     opacity: 0.5;
//     margin-left: 3rem;
//     margin-bottom: 3rem;
//     width: 45%;
//     &:hover {
//       opacity: 1;
//     }
//   }
// }
