@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";
@import "../sass/base/layout";
@import "../sass/base/typography";

.footer {
  height: 50vh;
  background-color: #3f73ad;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  position: relative;
  padding: 15rem;
}
.cards3 {
  font-size: 2rem;
  color: white;
  text-align: left;
}
.heading_tertiary {
  // text-align: center;
  color: $color-primary-light;
  margin-bottom: 1rem;
}
.details {
  list-style: none;
}
.copyright {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
}
