@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";
@import "../sass/base/animations";
.header {
  &_sub {
    height: 10vh;
    background-color: $color-primary-light;
    position: relative;
    border-bottom: 0.7px solid $color-border;
    &_phone {
      font-size: 2rem;
      color: $color-primary-dark;
      position: absolute;
      width: 17rem;
      top: 50%;
      right: 18%;
      transform: translateY(-50%);
    }
    &_contact {
      text-decoration: none;
      font-size: 2rem;
      color: $color-primary-dark;
      position: absolute;
      top: 50%;
      right: 6%;
      transform: translateY(-50%);
      border: 0.7px solid $color-border;
      border-radius: 3rem;
      padding: 1rem 2rem;
      transition: all 0.3s;
      &:hover {
        background-color: darken($color-primary-dark, 20%);
        color: #fff;
      }
    }
  }
  &_main {
    position: -webkit-sticky;
    position: sticky;
    top: -5rem;
    background-color: $color-primary-light;
    height: 9vh;
    &_scroll {
      top: 0;
      background-color: $color-primary-light;
      animation: navfadein 0.7s ease-in-out;
      z-index: 50;
      opacity: 0.87;
    }
  }
}

.logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6%;
  &_img {
    width: 13%;
  }
}
.p_icon {
  width: 10%;
}

.navbar {
  position: absolute;
  left: 13%;
  top: 50%;
  transform: translateY(-50%);

  &_links {
    @include clearfix;
    list-style: none;
    // -webkit-background-clip: text;
    li {
      float: left;
      font-size: 1.8rem;
      font-weight: 600;
      &:not(:last-child) {
        padding-right: 3rem;
      }
    }
    &_link {
      transition: all 0.2s;
      &:visited,
      &:link {
        text-decoration: none;
        color: $color-primary-dark;
        position: relative;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color-secondary;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        color: $color-secondary;
        &:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
}

.social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13%;

  &_link {
    color: $color-primary-dark;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
    &:not(:last-child) {
      padding-right: 2rem;
    }
    &:hover {
      color: $color-secondary;
    }
  }
}
