* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // image-rendering:;
  // image-rendering: -webkit-optimize-contrast;
}

html {
  font-size: 62.5%;
  // font-size: 6.8px;
}

body {
  padding: 2rem;
}
