@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/variables";
// @import "../../sass/base/typography";
@import "../../sass/base/layout";
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
.hero {
  height: 78vh;
  //   background: #000, url(../../img/Aboutus.jpg);
  background-image: linear-gradient(
      to right bottom,
      rgba(rgb(0, 0, 0), 0.8),
      rgba(#000, 0.6)
    ),
    url("../../img/Aboutus.jpg");
  background-size: cover;
  background-position: top right;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}
.pageheading {
  letter-spacing: 1.3rem;
}
